{% load i18n %}
{% load l10n %}
{% load custom_tags %}

<h5 class="text-success"> {% trans 'Question' %} <small
        class="text-muted">{% trans 'by' %} {{ question.author.first_name }} {{ question.author.last_name }}</small>
</h5>
<br/>
<div class="row">
    <div class="col col-md-12">
            <span style="font-size: large">
                {{ question.question | markdown | safe }}
            </span>
    </div>

</div>

<br/>

<div class="row">
    <div class="col col-lg-4 col-lg-push-4 col-md-12" style="text-align: center">
        <button style="width: 100%" class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#collapse_answer" onclick="expandAnswer()" id="btn_answer"
                aria-expanded="false" aria-controls="collapseExample">
            {% trans 'Show Answer' %}
        </button>
    </div>
</div>

<div class="collapse" id="collapse_answer">
    <div class="row">
        <div class="col col-md-12">
            <div class="card card-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-6">
                        <h5 class="card-title text-success" id="h_answer">{% trans 'Answer' %}</h5>
                    </div>
                    <div class="col-md-6 col-sm-6 col-6 pull-right" style="text-align: right">
                        {% if request.user == question.author or request.user.is_superuser %}
                            <a href="{% url 'edit_question' question.pk %}"><i
                                    class="fas fa-pencil-alt"></i></a>{% endif %}
                    </div>
                </div>

                <span style="font-size: large;padding-top: 1vh ;padding-right: 8px;padding-left: 8px; background-color: #222222"
                      class="rounded">
                        {{ question.answer | markdown | safe }}
                    </span>

                {% if question.source %}
                    <div class="row text-center" style="margin-top: 8px">
                        <div class="col-12 pull-right" style="text-align: right">
                            <span class="text-muted"><i class="fas fa-search"></i> {{ question.source }}</span>
                        </div>
                    </div>
                {% endif %}
                <br/>

                <div class="btn-group" role="group" id="btn_group_vote">
                    <a href="{{ success_url |safe }}" class="btn btn-success"><i
                            class="fas fa-thumbs-up fa-2x"></i></a>
                    <a href="{{ failure_url |safe }}" class="btn btn-danger"><i
                            class="fas fa-thumbs-down fa-2x"></i></a>
                </div>

                {% if logs %}
                    <br/>
                    <span>{% trans 'Question History' %}</span>
                    <div class="progress">
                        {% for l in logs %}
                            <div class="progress-bar bg-{% if l.type == 'FAIL' %}danger{% else %}success{% endif %} cycle"
                                 role="progressbar" style="width: {{ log_percent | safe }}%; margin-right: 1px"
                                 aria-valuenow="{{ log_percent }}"
                                 aria-valuemin="0" aria-valuemax="100"></div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </div>
    </div>

    <br/><br/>

    <h5>{% trans 'Comments' %}</h5>

    {% for c in comments %}
        <div class="card">
            <div class="card-body">
                <small class="card-title">{{ c.updated_at }} {% trans 'by' %} {{ c.created_by.first_name }} {{ c.created_by.last_name }}</small>
                <a
                        href="{% url 'edit_comment' c.pk %}" class="d-print-none"><i
                        class="fas fa-pencil-alt"></i></a><br/>
                {{ c.text|markdown|safe }}
            </div>
        </div>
    {% endfor %}

    <form method="POST" class="post-form" action="{% url 'quiz_comment' question.pk %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <textarea name="text" cols="15" rows="3" class="textarea form-control" required
                      id="id_text"></textarea>
            <div class="input-group-append">
                <input type="submit" value="{% trans 'Comment' %}" class="btn btn-success">
            </div>
        </div>
    </form>

</div>

<script type="text/javascript">
    function expandAnswer() {
        $('#btn_answer').remove();
    }
</script>