{% extends 'base.html' %}
{% load i18n %}

{% block title %}Learning Cards{% endblock %}

{% block content %}

    <h2>{% trans 'Learning Cards' %}</h2>

    {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans %}
                In order to save learning progress you need to create a account!
            {% endblocktrans %}
        </div>
    {% endif %}

    {% blocktrans %}
        Welcome to Learning Cards online! <br/>
        The concept of this site is simple: You play quizzes for different courses. You look at a question and think of
        the answer. After that you reveal the solution and click the appropriate button. The System will choose
        questions for you depending on which questions you previously got wrong or right. <br/>


        Currently you can play quizzes for the following courses:
    {% endblocktrans %}

    <br/>
    <br/>
    {% for c in courses %}
        <a href="{% url 'quiz' c.pk %}">{{ c }} - ({{ c.num_questions }} {% trans 'Questions' %})</a> <br/>
    {% endfor %}

{% endblock %}