{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Learning Cards' %}{% endblock %}

{% block content %}

    <h2><i class="fas fa-graduation-cap"></i> {% trans 'Learning Cards' %}</h2>

    {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            {% blocktrans %}
                In order to save learning progress you need to create a account!
            {% endblocktrans %}
        </div>
    {% endif %}

    {% blocktrans %}
        Welcome to Learning Cards online! <br/>
        The concept of this site is simple: You play quizzes for different courses. You look at a question and think of
        the answer. After that you reveal the solution and click the appropriate button. The System will choose
        questions for you depending on which questions you previously got wrong or right. <br/>


        Currently you can play quizzes for the following courses:
    {% endblocktrans %}

    <br/>
    <br/>


    <div class="row">
        
        <div class="col col-md-6">
            <ul class="list-group list-group-flush">
                {% for c in courses %}

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col col-11">
                                <a href="{% url 'quiz' c.pk %}">{{ c }}</a>
                            </div>
                            <div class="col col-1">
                               <span style="text-align: center; horiz-align: center"
                                     class="badge badge-primary badge-pill">{{ c.num_questions }}</span>
                            </div>
                        </div>

                        {% if c.num_chapters > 0 %}
                            {% for ch in chapters %}
                                {% if ch.course == c %}
                                    <div class="row">
                                        <div class="col col-11">
                                            &nbsp;&nbsp;&nbsp;&nbsp;<a
                                                href="{% url 'quiz_chapter' c.pk ch.pk %}">{{ ch.name }}</a>
                                        </div>

                                        <div class="col col-1">
                                            <span class="badge badge-primary badge-pill">{{ ch.num_questions }}</span>
                                        </div>

                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>



{% endblock %}