{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Learning Cards' %}{% endblock %}

{% block content %}

    <h2><i class="fas fa-graduation-cap"></i> {% trans 'Learning Cards' %}</h2>
    <br/><br/>

    <div class="row">
        <div class="col col-lg-6 col-12">

            {% if not user.is_authenticated %}
                <div class="alert alert-warning" role="alert">
                    {% blocktrans %}
                        In order to save learning progress you need to create an account!
                    {% endblocktrans %}
                </div>
            {% endif %}

            {% blocktrans %}
                <b>Welcome to Learning Cards online!</b> <br/><br/>
                The concept of this site is simple:
                <ol>
                    <li>Select a quiz and answer the question (for yourself)!</li>
                    <li>Look at the answer and select if you answered correctly or not</li>
                    <li>Repeat!</li>
                </ol>
                The system will automatically choose relevant questions based on several factors so you can focus on
                learning what you need to learn.  <br/><br/>
                Everyone can (and probably should) contribute new questions so that other can benefit!
            {% endblocktrans %}

            <br/>
            <br/>

            <h4><i class="fab fa-github"></i> {% trans 'Open Soruce' %}</h4>
            {% blocktrans %}
                This application is FOSS (Free Open Source Software) licensed under the
                <a href="https://github.com/vabene1111/LearningCards/blob/master/LICENSE.md" target="_blank">MIT
                    License</a>.
                It can be found on <a target="_blank" href="https://github.com/vabene1111/LearningCards">GitHub</a>.
            {% endblocktrans %}
            <br/>
            <br/>
        </div>

        <div class="col">
            <h2>{% trans 'Quizzes' %}</h2>
            {% if request.user.is_authenticaed %}
                <ul class="list-group list-group-flush">
                    {% for c in courses %}

                        <li class="list-group-item">
                            <div class="row">
                                <div class="col col-11">
                                    <a href="{% url 'quiz' c.pk %}">{{ c }}</a>
                                </div>
                                <div class="col col-1">
                               <span style="text-align: center; horiz-align: center"
                                     class="badge badge-primary badge-pill">{{ c.num_questions }}</span>
                                </div>
                            </div>

                            {% if c.num_chapters > 0 %}
                                {% for ch in chapters %}
                                    {% if ch.course == c %}
                                        <div class="row">
                                            <div class="col col-11">
                                                &nbsp;&nbsp;&nbsp;&nbsp;<a
                                                    href="{% url 'quiz_chapter' c.pk ch.pk %}">{{ ch.name }}</a>
                                            </div>
                                            <div class="col col-1">
                                                <span class="badge badge-primary badge-pill">{{ ch.num_questions }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
                <br/>
                <br/>
                <div class="text-center">
                    <a href="{% url 'list_course' %}" class="btn btn-warning text-center">{% trans 'Join Course' %}</a>
                </div>
            {% else %}
                <div class="text-center">
                    <a href="{% url 'list_course' %}" class="btn btn-success text-center">{% trans 'Choose Course' %}</a>
                </div>
            {% endif %}
        </div>
    </div>



{% endblock %}