{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <h2>{% trans 'Quiz' %} <small>{{ course }}</small></h2>
    <br/>

    Question:
    {{ question.question | markdown | safe }}

    <br/>

    Answer:
    {{ question.answer | markdown | safe }}

    <a href="{% url 'quiz_success' question.pk %}" class="btn btn-success">{% trans 'Success' %}</a> <br/>
    <a href="{% url 'quiz_fail' question.pk %}" class="btn btn-danger">{% trans 'Failed' %}</a>

{% endblock %}