{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <h3>{% trans 'Quiz' %} <small class="text-muted">{{ course }}</small></h3>
    <br/>

    <h5 class="text-success">{% if request.user == question.author or request.user.is_superuser %}
        <a href="{% url 'edit_question' question.pk %}"><i
                class="fas fa-pencil-alt"></i></a> {% endif %} {% trans 'Question' %} <small
            class="text-muted">{% trans 'by' %} {{ question.author.first_name }} {{ question.author.last_name }}</small>
    </h5>
    <br/>
    <div class="row">
        <div class="col col-md-12">
            <span style="font-size: large">
                {{ question.question | markdown | safe }}
            </span>
        </div>

    </div>

    <br/>


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_answer"
            aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Show Answer' %}
    </button>
    <br/>
    <br/>

    <div class="collapse" id="collapse_answer">
        <div class="row">
            <div class="col col-md-12">
                <div class="card card-body">
                    <h5 class="card-title text-success">{% trans 'Answer' %}</h5>
                    <span style="font-size: large; padding: 1vw" class="border rounded">
                        {{ question.answer | markdown | safe }}
                    </span>
                    <br/>

                    <div class="btn-group" role="group" >
                        <a href="{% url 'quiz_success' question.pk %}" class="btn btn-success"><i
                                class="fas fa-thumbs-up fa-2x"></i></a>
                        <a href="{% url 'quiz_fail' question.pk %}" class="btn btn-danger"><i
                                class="fas fa-thumbs-down fa-2x"></i></a>
                    </div>

                </div>

            </div>
        </div>

        <br/><br/>

        <h5>{% trans 'Comments' %}</h5>

        {% for c in comments %}
            <div class="card">
                <div class="card-body">
                    <small class="card-title">{{ c.updated_at }} {% trans 'by' %} {{ c.created_by.first_name }} {{ c.created_by.last_name }}</small>
                    <a
                            href="{% url 'edit_comment' c.pk %}" class="d-print-none"><i
                            class="fas fa-pencil-alt"></i></a><br/>
                    {{ c.text }}
                </div>
            </div>
            <br/>
        {% endfor %}

        <form method="POST" class="post-form" action="{% url 'quiz_comment' question.pk %}">
            {% csrf_token %}
            <div class="input-group mb-3">
            <textarea name="text" cols="15" rows="2" class="textarea form-control" required
                      id="id_text"></textarea>
                <div class="input-group-append">
                    <input type="submit" value="{% trans 'Comment' %}" class="btn btn-success">
                </div>
            </div>
        </form>


    </div>



{% endblock %}