{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}

{% block title %}Quiz{% endblock %}

{% block content %}

    <h2>{% trans 'Quiz' %} <small>{{ course }}</small></h2>

    <br/>

    <div class="row">
        <div class="col col-md-12">
            <h4>{% trans 'Question' %}</h4>
            {{ question.question | markdown | safe }}
        </div>

    </div>


    <br/>


    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_answer"
            aria-expanded="false" aria-controls="collapseExample">
        {% trans 'Show Answer' %}
    </button>
    <br/>
    <br/>

    <div class="collapse" id="collapse_answer">
        <div class="row">
            <div class="col col-md-12">

                <div class="card card-body">
                    <h5 class="card-title">{% trans 'Answer' %}</h5>
                    {{ question.answer | markdown | safe }}
                    <a href="{% url 'quiz_success' question.pk %}" class="btn btn-success"><i
                        class="fas fa-thumbs-up"></i> {% trans 'Success' %}</a>
                <a href="{% url 'quiz_fail' question.pk %}" class="btn btn-danger"><i
                        class="fas fa-thumbs-down"></i> {% trans 'Failed' %}</a>
                </div>

            </div>
        </div>


    </div>

    <br/><br/>

    <h5>{% trans 'Comments' %}</h5>

    <form method="POST" class="post-form" action="{% url 'quiz_comment' question.pk %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <textarea name="text" cols="15" rows="2" class="textarea form-control" required
                      id="id_text"></textarea>
            <div class="input-group-append">
                <input type="submit" value="{% trans 'Comment' %}" class="btn btn-success">
            </div>
        </div>
    </form>

    {% for c in comments %}
        <div class="card">
            <div class="card-body">
                <small class="card-title">{{ c.updated_at }} {% trans 'by' %} {{ c.created_by.username }}</small> <a
                    href="{% url 'edit_comment' c.pk %}" class="d-print-none"><i class="fas fa-pencil-alt"></i></a><br/>
                {{ c.text }}
            </div>
        </div>
        <br/>
    {% endfor %}

{% endblock %}