{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load custom_tags %}

{% block title %}{% trans 'Setting' %}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h4><i class="fas fa-book"></i> {% trans 'Your Courses' %}</h4>

    {% render_table table %}

    <h4><i class="fas fa-language fa-fw"></i> {% trans 'Language' %}</h4>
    <div class="row">
        <div class="col-md-12">
            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input class="form-control" name="next" type="hidden" value="{{ redirect_to }}">
                <select name="language" class="form-control">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <br/>
                <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> {% trans 'Save' %}</button>
            </form>
        </div>

    </div>

{% endblock %}