{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block title %}{% trans 'Statistics' %}{% endblock %}

{% block extra_head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"
            integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}

    <h2><i class="fas fa-chart-line"></i> {% trans 'Stats' %}</h2>
    <br/>

    <div class="row">
        <div class="col col-md-4">
            <h3>{{ global_stats.number_questions_played }}<small> Questions played</small></h3>
        </div>
        <div class="col col-md-4">
            <h3>{{ global_stats.number_questions_success }} ({{ global_stats.number_questions_success_percent | floatformat }}%)<small> <i style="color:#509E2F" class="far fa-thumbs-up"></i></small></h3>
        </div>
        <div class="col col-md-4">
            <h3>{{ global_stats.number_questions_failure }} ({{ global_stats.number_questions_failure_percent | floatformat }}%)<small> <i style="color:#E61F1C" class="far fa-thumbs-down"></i></small></h3>
        </div>
    </div>

    <br/>

    <div class="row">
        <div class="col col-md-12">
            {{ course_form|crispy }}
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <script type="text/javascript">
        function updateSuccessChart(labels, data_success, data_failure) {

            const ctx = document.getElementById('myChart').getContext('2d');
            const chart = new Chart(ctx, {
                type: 'line',

                data: {
                    labels: labels,
                    datasets: [{
                        label: '{% trans 'Successful Questions' %}',
                        borderColor: 'rgb(80,158,47)',
                        data: data_success
                    }, {
                        label: '{% trans 'Failed Questions' %}',
                        borderColor: 'rgb(230,31,28)',
                        data: data_failure
                    }]
                },
                options: {}
            });
        }

        let elem = document.getElementById("id_course");
        elem.addEventListener("change", onCourseSelectionChanged);

        function onCourseSelectionChanged() {
            let val = $('#id_course').val();
            if (val !== "") {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState === 4 && this.status === 200) {
                        json = JSON.parse(this.responseText);
                        updateSuccessChart(json.labels, json.data_success, json.data_failure)
                    }
                };

                url = "{% url 'api_success_chart' 12345 %}".replace(/12345/, val);
                xhttp.open("GET", url, true);
                xhttp.send();
            }
        }

    </script>

{% endblock %}