{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}
{% load crispy_forms_filters %}

{% block title %}{% trans 'Test' %}{% endblock %}

{% block content %}



    <div style="text-align: center">
        <h2>Test</h2>
        <h3 class="text-muted">{{ test.course }}</h3>
        {% if question.chapter %}
            <h4><small class="text-primary">{{ question.chapter.name }}</small></h4>
        {% endif %}
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: {{ test_progress.questions_progress|safe }}%;" aria-valuenow="{{ test_progress.questions_progress|safe }}" aria-valuemin="0"
             aria-valuemax="100">{{ test_progress.questions_done }}/{{ test_progress.questions }}
        </div>
    </div>

    <br/>

    {% include 'include/question.html' %}
{% endblock %}