{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{% trans 'Edit' %} - {{ title }}{% endblock %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block content %}

    <h3>{% trans 'Edit' %} {{ title }}</h3>


    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {% trans 'Save' %}</button>

        <a href="{% url 'redirect_delete' form.instance|get_class|lower form.instance.pk %}" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> {% trans 'Delete' %}</a>

        {% if form.instance|get_class|lower == 'question' %}
            <a class="btn btn-info" href="{% url 'quiz_question' form.instance.course.pk form.instance.pk %}"><i class="fas fa-eye"></i> {% trans 'View Question' %}</a>
        {% endif %}
    </form>

{% endblock %}

{% block script %}

{% endblock %}