{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load custom_tags %}

{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
    {{ form.media }}

    {% if form.instance|get_class|lower == 'question' %}
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
        <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>

    {% endif %}
{% endblock %}

{% block content %}

    <h3>{{ title }} </h3>

    <form action="." method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> {% trans 'Save' %}</button>
    </form>

{% endblock %}

{% block script %}
    <script type="application/javascript">
        {% if form.instance|get_class|lower == 'question' %}
            const easyMDE1 = new EasyMDE({element: document.getElementById('id_answer'), maxHeight: "15vh"});
            const easyMDE2 = new EasyMDE({element: document.getElementById('id_question'), maxHeight: "15vh"});

            $('.editor-toolbar').addClass('bg-light')
        {% endif %}
    </script>


{% endblock %}
